<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midproject.web.mappers.KteamMapper">
    <select id="selectAll" resultType="com.midproject.web.domains.KteamDTO">
        select
            team_id teamId,
            team_name teamName,
            address,
            tel,
            homepage
        from kteam
    </select>
</mapper>